SOCIAL_NETWORK_EMAIL='email@email.yours'
SOCIAL_NETWORK_LOGIN='username'
SOCIAL_NETWORK_PASSWORD='password'

CHROME_DRIVER_PATH='PATH TO CHROME DRIVER'

SOCIAL_NETWORK_HOST='127.0.0.1'
SOCIAL_NETWORK_PORT=5000